html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 50%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

img {
    width: 500px;
    object-fit: cover;
}